:root {
  --border-radius: 8px;
  --border-colour: #000000;
  --border-shadow: #aaaaaa;

  --text-colour: #4a4a4a;
  --background-colour: #f9f9f9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.8rem;
  line-height: 1.618;
  font-family: Roboto, Verdana, Geneva, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: var(--text-colour);
  background-color: var(--background-colour);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: Roboto, Verdana, Geneva, sans-serif;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h1 {
  font-size: 2.35rem;
  text-align: center;
}

h2 {
  position: relative;
  font-size: 2.35rem;
  border-bottom: 3px solid var(--text-colour);
  break-after: avoid;
}
h2::before {
  content: "";
  position: absolute;
  top: 100%;
  bottom: -6px;
  left: 0;
  right: 0;
  border-bottom: 3px solid var(--text-colour);
  opacity: 25%;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1.5rem;
}

section {
  /* #### Is this actually working as intended? */
  orphans: 4;
  widows: 4;
  margin-top: 2rem;
}
section ul li {
  break-inside: avoid;
}

.sectionHeader {
  break-inside: avoid;
  break-after: avoid;
}

.sectionTitleRow {
  display: flex;
  flex-flow: row wrap; /* wrap vital for mobile, along with min-width */
}
.sectionTitleRow h3 {
  flex-grow: 4;
  flex-shrink: 4;
  align-self: center;
  max-width: 30rem;
}

.whenAndWhere {
  flex-grow: 2;
  flex-shrink: 2;
  display: flex;
  flex-flow: column;
  align-self: center;
  white-space: nowrap;
}

.period {
  font-size: 1rem;
  text-align: end;
}

.where {
  font-size: 1rem;
  text-align: end;
}

.hook {
  font-size: 1rem;
  font-style: italic;
}

.sectionHeaderWithFirstSection {
  break-inside: avoid;
}

section.skill {
  display: flex;
  flex-flow: row;
}

section.experience {
  display: flex;
  flex-flow: column;
}

.icon {
  width: 5rem;
  height: 5rem;
  align-self: center; /* In the unlikely but possible event whenAndWhere is taller than the icon */
}
.skill .icon {
  margin-right: 0.5rem;
}

.skill h3 {
  margin-top: 0;
}

.description {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

ul {
  font-size: 1.2rem;
  margin-left: 2rem;
}

ul.keywords {
  break-before: avoid;
  font-size: 1rem;
  font-style: italic;
  margin-left: 0;
  align-self: end;
}
ul.keywords li {
  display: inline-block;
  margin-left: 1rem;
}

section.publication {
  font-size: 1.2rem;
}

.publicationName {
  font-style: italic;
}

small,
sub,
sup {
  font-size: 75%;
}

a {
  color: inherit;
}

.sneaky {
  opacity: 0.001;
  height: 1px;
  overflow: hidden;
}
