.links {
  padding-top: 1rem;
  display: flex;
  flex-flow: row;
}

.links ul {
  flex-grow: 3;
  align-self: last baseline;
  list-style: none;
}

.links li {
  /* display: flex;
  flex-flow: row nowrap; */
}

.links li * {
}

.links li img {
  vertical-align: bottom;
  width: 2rem;
  height: 2rem;
}

.text {
  padding: 0.5rem;
  font-size: 1rem;
}

.qr {
  width: 8rem;
  align-self: end;
}

@media screen {
  .printOnly,
  .qr {
    display: none;
  }
}
@media print {
  .onlineOnly {
    display: none;
  }
}
