.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* MOBILE / PRINT DEFAULT - only show pageOne, allow it to flow, hide the duplicate pages. */
.page {
}
.pageOne {
  overflow: visible;
  height: auto;
}
.pageDuplicate {
  display: none;
}

.sectionContainer {
  margin-top: 2rem;
}
.sectionContainer:nth-of-type(1) {
  margin-top: 0;
}

.contentContainer {
  columns: unset;
  height: auto;
}

/* PRINT SPECIFICALLY - allow regular flow of just the first contentContainer with the built in @page margins etc */
@media print {
  .contentContainer {
    padding: 3rem;
    gap: 6rem;
    columns: unset;
    height: auto;
  }
}
@page {
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* MOBILE SPECIFICALLY - adjust padding */
@media screen {
  .contentContainer {
    padding: 0.5rem; /* Less space to work with, less padding. */
    gap: 1rem; /* FIXME technically not used since we're not using fake column-pages here */
  }
}

/* DESKTOP - SHOW BOTH PAGE ONE AND THE DUPLICATES FOR AMAZING HAX */
@media screen and (width >= 210mm) {
  .page {
    margin-top: 2rem;
    border: 3px solid var(--border-colour);
    box-shadow: 0 0 1rem var(--border-shadow);
    width: 210mm;
    height: 297mm;
  }
  .pageOne {
    overflow: hidden;
  }
  .pageDuplicate {
    display: block;
    overflow: hidden;
  }
  /* Shenanigans; make a column layout to wrap the 'arbitrarily tall' content in, so we break it on page-like heights. */
  .contentContainer {
    /* Sneakily force horizontal columns each 1 page tall */
    columns: auto 210mm; /*calc(100vh / 1.41);*/
    height: 297mm;
    /* The virtual 'pages' we make should have 3rem padding for print/desktop. Mobile will override. Desktop overrides further. */
    padding: 3rem;
    gap: 6rem;
  }
}
